<div id="content">

  <div id="tertiaryContent">
    <div class="xbg"></div>
  </div>

  <div id="primaryContentContainer">
    <div id="primaryContent">
      <h2>Forgot password</h2>
      Enter the email address you registered with.<br><br>
      <% form_tag(reset_password_path, :method => "put") do %>
	Username:<br>
	<%= text_field_tag :login %><br><br>

	<%= submit_tag "Reset password" %><br><br>
      <% end %>

      <p>
	Once you click the "Reset password" button, your password will be reset.<br>
	Your new password will be emailed to the address you registered with.
      </p>
    </div>
  </div>

<div id="secondaryContent">
  <div class="xbg"></div>
</div>
<div class="clear"></div>

</div>
