<div id="content">

  <div id="tertiaryContent">
    <div class="xbg"></div>
  </div>

  <div id="primaryContentContainer">
    <div id="primaryContent">
      <h2>Edit personal info.</h2>
      <p>
	<%= render :partial => 'form' %>
      </p>
    </div>
  </div>

  <div id="secondaryContent">
    <h3 align="center"> Navigation </h3>
    <ul>
      <li><%= link_to "My Page", @player %></li>
    </ul>
    <div class="xbg"></div>
  </div>
  <div class="clear"></div>

</div>